<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What the hedhika</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>

<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">
<div class="flex justify-center h-screen bg-gray-200">
    <!--Nav-->
    <div class="bg-white w-full max-w-lg my-48 p-6 px-4 rounded shadow-md">
        <p class="font-bold text-4xl text-blue-400">What the Hedhika!</p>

        <form class="px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="file">
                    Upload your image
                </label>
                <input type="file" name="file" id="file">
            </div>
            <div class="flex items-center justify-between">
                <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Upload" name="submit"/>
            </div>
        </form>

         {{ prediction_text }}

    </div>
</div>
</body>
</html>
